/* trigger git rebuild */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  color: var(--primary-clr);
  font-family: "Roboto", sans-serif;
  background-color: var(--background-clr);
  /* COLORS */
  --primary-clr: #00072d;
  --accent-clr: #9b2915;
  --neutral-clr: #4d5061;
  --background-clr: #fdffff;
  --background-clr-darker: #fafaff;
  /* LAYOUT */
  --desktop: 1440px;
  --mobile: 375px;
  /* MISC */
  --shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.darkmode {
  /* COLORS */
  --primary-clr: #f3f3f4;
  --accent-clr: #9b2915;
  --neutral-clr: #f3f3f4;
  --background-clr: #221e22;
}

ul {
  list-style: none;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.link > a::before {
  position: absolute;
  content: "";
  width: 175%;
  height: 175%;
  top: -25%;
  left: -25%;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

h1,
h2,
h3 {
  color: var(--neutral-clr);
}

p {
  line-height: 2rem;
  color: var(--neutral-clr);
  font-size: 1rem;
}

/* ==== HEADER ==== */
header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.logo {
  width: 32px;
  height: 32px;
}

.links {
  position: absolute;
  width: 90%;
  top: 100%;
  left: 50%;
  transform: translateX(100%);
  padding: 1.5em;
  box-shadow: var(--shadow);
  transition: transform 500ms ease;
  background-color: var(--background-clr);
  z-index: 1000;
}

.links-active {
  transform: translateX(-50%);
}

.link {
  color: var(--neutral-clr);
  padding: 0.5em 0;
  font-weight: 600;
}

/* ==== HAMBURGER-MENU ==== */
#hamburger-menu {
  width: 1.75rem;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.35em;
  background-color: var(--primary-clr);
  margin: 0.15em 0;
  transition: transform 500ms ease;
  background-color: var(--accent-clr);
}

.top-line-active {
  transform: translateY(0.5em) rotateZ(45deg);
}

.middle-line-active {
  transform: scaleX(0);
}

.bottom-line-active {
  transform: translateY(-0.5em) rotateZ(-45deg);
}

/* ==== MAIN ==== */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.section-content {
  width: 100%;
  max-width: var(--desktop);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section:nth-child(even) {
  background-color: var(--background-clr-darker);
}

.profile-img-container {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-image: url("../assets/images/profile.JPG");
  background-size: cover;
  box-shadow: 3px 0 0 3px var(--accent-clr), 6px 0 0 6px var(--neutral-clr);
}

.intro-text {
  width: 100%;
}

.intro-text > *:first-child {
  text-transform: uppercase;
}

.intro-text > * {
  margin: 1em 0;
  text-align: center;
}

.platforms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.platforms.left-align {
  justify-content: flex-start;
  align-items: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.social-icon:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.social-icon > img {
  width: 70%;
  height: 70%;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.entry-title {
  position: relative;
  max-width: max-content;
  margin-bottom: 1em;
}

.entry-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 15%;
  bottom: -15%;
  border-right: 5px solid var(--accent-clr);
  border-bottom: 5px solid var(--accent-clr);
}

.skills {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* .skill > img {
  width: 30px;
  height: 30px;
} */

/* ==== HELPERS ==== */
.animate {
  transition: all 1000ms ease-in-out;
}

.animate:nth-child(odd) {
  transform: translateX(-200%);
}

.animate:nth-child(even) {
  transform: translateX(200%);
}

.slide {
  transform: translateX(0) !important;
}

.mt-m {
  margin-top: 2em;
}

.mb-m {
  margin-bottom: 2em;
}

.m-m {
  margin: 2em;
}

.mt-s {
  margin-top: 1em;
}

.highlight {
  color: var(--accent-clr);
}

.col {
  flex-direction: column !important;
  align-items: flex-start;
  gap: 2em;
}

.col-center {
  flex-direction: column !important;
  align-items: center;
  gap: 2em;
}

.f-start {
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start;
}

.pl-s {
  padding-left: 0.5em;
}

.btn {
  padding: 0.25em 1.25em;
  background-color: var(--accent-clr);
  color: var(--background-clr-darker);
  transition: opacity 500ms ease;
  border: none;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
}

.sm-text {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

/* ==== PROJECT CARD ==== */
.card {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--shadow);
}

.card-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1rem 2rem;
  background: linear-gradient(rgba(100, 100, 100, 0.1), rgba(0, 0, 0, 0));
}

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card-img-container > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card-point {
  border-left: 5px solid var(--accent-clr);
  color: var(--primary-clr);
  font-weight: 700;
}

.card-description {
  padding-left: 1.25em;
}

.card-list {
  list-style-type: "+";
  padding-left: 2em;
  color: var(--neutral-clr);
}

.card-list li {
  padding-left: 1em;
}

.card-list li::marker {
  color: var(--accent-clr);
  font-size: 1.25em;
}

/* ==== CONTACT CARD ==== */
.contact-container-body {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--accent-clr);
  cursor: pointer;
  z-index: 2;
}

.contact-card:not(:first-child) {
  padding: 1em;
}

.contact-social {
  width: 100%;
}

.contact-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-card > img {
  width: 32px;
  height: 32px;
}

.copy-mail-icon {
  position: relative;
  width: calc(32px + 1.4em);
  height: calc(32px + 1.4em);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 1em;
}

.mail {
  position: relative;
  width: 80%;
  padding: 1em;
}

.contact-help {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -70%;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.contact-help:hover {
  opacity: 0.7;
  cursor: pointer;
}

.contact-help-message {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(100, 100, 100, 0.4);
  display: none;
}

.contact-help-message.active {
  display: flex;
}

.help-message-body {
  position: relative;
  padding: 2rem 1rem;
  background-color: var(--background-clr);
  box-shadow: var(--shadow);
  border-radius: 5px;
  border-left: 5px solid var(--accent-clr);
  transform: translateX(-100vw);
  transition: transform 500ms ease;
}

.help-message-body.active {
  transform: translateX(0);
}

.close-help {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 0.25rem;
  transform: scale(2);
  color: var(--accent-clr);
  cursor: pointer;
}

.help-message-entry {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  white-space: nowrap;
}

.help-message-entry > * {
  margin: 0 0.25rem;
}

/* ==== UTILITIES ==== */
.messages {
  width: 95%;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: #edf2f4;
  border-radius: 5px;
  transform: translateY(-200%);
  transition: transform 500ms ease-in;
  box-shadow: var(--shadow);
}

.message.active {
  transform: translateY(0);
}

.message.inactive {
  transform: translateX(200vw);
}

.message > img {
  width: 32px;
  height: 32px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ==== QUERIES ==== */
@media only screen and (min-width: 820px) {
  p {
    font-size: 1.5rem;
  }
  #hamburger-menu {
    display: none;
  }
  nav {
    max-width: var(--desktop);
  }
  .links {
    position: static;
    width: auto;
    display: flex;
    gap: 1em;
    padding: 0;
    transform: translate(0);
    background-color: transparent;
    box-shadow: none;
  }
  .link {
    z-index: 100;
    padding: 0.5em 1em;
    transition: transform 500ms ease;
    text-transform: uppercase;
  }

  .section-content {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6rem;
  }
  .intro-text {
    width: 30%;
  }
  .intro-text > * {
    text-align: left;
  }
  .profile-img-container {
    width: 350px;
    height: 350px;
  }
  .platforms {
    justify-content: flex-start;
  }
  .entry {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .entry > * {
    width: 50%;
  }
  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
  #projects > .section-content {
    gap: 0;
  }
  .card {
    min-height: 300px;
    flex-direction: row;
  }
  .card-img-container {
    width: 30%;
  }
  .card-content {
    width: 65%;
  }
  .hover-el {
    position: relative;
  }

  .hover-el::before,
  .hover-el::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 500ms ease;
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
  }

  .hover-el::before {
    transform-origin: left;
    border-left: 2px solid var(--accent-clr);
    border-bottom: 2px solid var(--accent-clr);
  }

  .hover-el::after {
    border-right: 2px solid var(--accent-clr);
    border-top: 2px solid var(--accent-clr);
    transform-origin: right;
  }

  .hover-el:hover::before,
  .hover-el:hover::after {
    transform: scaleX(1);
  }
  .contact-container-body {
    flex-direction: row;
  }

  .contact-card {
    border-left: none;
    border-bottom: 5px solid var(--accent-clr);
  }
  .contact-card::before,
  .contact-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 5px);
    transition: transform 500ms ease-in-out;
    pointer-events: none;
  }
  .contact-card::before {
    border-left: 5px solid var(--accent-clr);
    border-right: 5px solid var(--accent-clr);
    transform: scaleY(0);
    transform-origin: bottom;
  }
  .contact-card::after {
    border-top: 5px solid var(--accent-clr);
    transform: scaleX(0);
  }
  .contact-card:hover::before {
    transform: scaleY(1);
  }
  .contact-card:hover::after {
    transform: scaleX(1);
  }
  .mail:hover > p {
    color: var(--accent-clr);
  }
  .mail::before {
    content: "Click here to open your mail app";
    position: absolute;
    left: -200%;
    bottom: -100%;
    left: 0;
    opacity: 0;
    white-space: nowrap;
    background-color: var(--primary-clr);
    color: var(--background-clr);
    padding: 1em 1.5em;
    opacity: 0;
    transition: opacity 500ms ease;
    pointer-events: none;
  }

  .mail:hover::before {
    opacity: 1;
  }

  .copy-mail-icon::before {
    content: "Copy to Clipboard";
    position: absolute;
    left: -200%;
    bottom: -120%;
    white-space: nowrap;
    background-color: var(--primary-clr);
    color: var(--background-clr);
    padding: 1em 1.5em;
    opacity: 0;
    transition: opacity 500ms ease;
    pointer-events: none;
  }

  .copy-mail-icon:hover::before {
    opacity: 1;
  }

  .copy-mail-icon:hover .copy-icon {
    stroke: var(--accent-clr);
    stroke-width: 7;
  }

  .messages {
    width: auto;
  }

  .help-message-body {
    border-left: none;
    border-bottom: 5px solid var(--accent-clr);
  }
}
